.form-contacts {
  padding: 0;
}

.form-contacts__list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;

  list-style: none;

  @media (min-width: $tablet-width) {
    background-color: $grey;
  }
}

.form-contacts__item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-contacts__item:not(:last-child) {
  margin-bottom: 34px;
}

.form-contacts__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba($black, 0.3);
}
