.form-radio {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
  }
}

.form-radio__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 155px 1fr;
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.form-radio__title {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    display: flex;
    align-items: center;

    margin-bottom: 32px;

    &::after {
      content: "";

      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      height: 1px;
      margin-left: 23px;

      background-color: $darker-green-link;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-left: 61px;
  }
}

.form-radio__list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;

  list-style: none;
}

.form-radio__item:not(:last-child) {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.form-radio__label {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form-radio__input + .form-radio__label::before {
  content: "";

  box-sizing: content-box;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin-right: 20px;

  background-color: $white;
  border: 2px solid $lighter-black;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 46px;
    height: 46px;
    margin-right: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.form-radio__input:checked + .form-radio__label::before {
  background-color: $darker-green-link;
  box-shadow: 0 0 0 10px inset $white;

  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 13px inset $white;
  }
}

.form-radio__input:focus + .form-radio__label::before {
  border: 2px solid $darker-green-link;
}

.form-radio__input + .form-radio__label:hover::before {
  border: 2px solid $darker-green-link;
}

.form-radio__input + .form-radio__label:active::before {
  border: 2px solid $lighter-black-input;
}
