.form-bio {
  padding: 0;
}

.form-bio__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;
}

.form-bio__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-bio__list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;

  list-style: none;
}

.form-bio__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba($black, 0.3);
}
