.form-main__order-form {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form-main__title-wrapper {
  padding: 73px 0 74px;
  margin-bottom: 17px;

  background-color: $grey;

  @media (min-width: $tablet-width) {
    padding: 100px 50px 87px;
    margin-bottom: 55px;

    background-image: url("../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }
}

.form-main__title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.form-main__desc {
  margin-bottom: 30px;

  font-size: 13px;
  color: $lighter-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;

    font-size: 17px;
    line-height: 30px;
  }
}
