.form-radio {
  padding: 0;
}

.form-radio__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-radio__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $green;
  text-transform: uppercase;
}

.form-radio__list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;

  list-style: none;
}

.form-radio__item:not(:last-child) {
  margin-bottom: 24px;
}
