.order-form__radio,
.order-form__checkbox {
  margin: 0 0 43px;
}

.order-form__bio,
.order-form__contacts {
  margin: 0 0 34px;
}

.order-form__form-text {
  margin: 0 0 17px;
}

.order-form__text {
  margin: 0 0 30px;

  font-size: 14px;
  line-height: 16px;
  color: $lighter-black;
}
