.body__main {
  margin-bottom: 39px;
}

.body__footer {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.body__form-main {
  margin-bottom: 55px;
}

.body__catalog-main {
  margin-bottom: 58px;
}
