.body__main {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;

    border-top: 1px solid rgba($black, 0.1%);
  }
}

.body__header {
  position: relative;

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.body__footer {
  background-color: $grey;
}

.body__form-main {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.body__catalog-main {
  margin-bottom: 58px;
}
