.cart {
  background-color: $white;
}

.cart__link {
  position: relative;

  display: block;
  padding-left: 46px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-decoration: none;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.cart__icon {
  position: absolute;
  top: 0;
  left: 0;

  fill: rgba($black, 0.2);
}

.cart__link:hover .cart__icon {
  fill: $green;
}

.cart__link:active .cart__icon {
  fill: rgba($green, 0.3);
}
