.copyright__link {
  display: flex;
  justify-content: center;

  text-decoration: none;
}

.copyright__link:hover svg {
  fill: $darker-green-hover;
}

.copyright__link:active svg {
  fill: $darker-green-hover;
  opacity: 0.3;
}

.copyright__text {
  display: block;
  padding-top: 8px;
  margin-right: 11%;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0 27px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 29px 0 0;
  }
}
