.main-nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    min-height: 89px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 200px 1fr;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 79px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: $white;
  border-bottom: 1px solid $lighter-grey;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 28px;
  right: 30px;

  padding: 0;
  width: 21px;
  height: 20px;

  background-color: white;

  border: none;
  cursor: pointer;
}

.main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 21px;
  height: 20px;

  background-color: transparent;
  background-image: url("../img/icons/menu-close.svg");
  background-position: center center;
  background-repeat: no-repeat;

  box-shadow: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 3px;
  right: 1px;

  width: 20px;
  height: 2px;

  background-color: $black;
  box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    background-color: $darker-white;
    border-top: 1px solid $lighter-grey;

    &--inner-bg {
      background-color: $grey;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    background-color: $white;
    border: none;
  }
}

.main-nav__user-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.main-nav__search,
.main-nav__cart {
  padding: 29px 30px 25px;

  border-bottom: 1px solid $lighter-grey;
}

@media (max-width: $mobile-max-width) {
  .main-nav--closed .main-nav__list,
  .main-nav--closed .main-nav__user-wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__inner {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
  }

  .page-header--no-js .main-nav__toggle {
    display: none;
  }

  .page-header--no-js .main-nav__list {
    display: block;
  }

  .page-header--no-js .main-nav__user-wrapper {
    display: block;
  }
}

.main-nav__sub-list {
  display: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    background-color: $darker-white;
    border-top: 1px solid $lighter-grey;

    &--inner-bg {
      background-color: $grey;
    }
  }
}
