.page-footer {
  background-color: $grey;
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__social {
  margin: 0 30px 22px;
  padding-bottom: 18px;

  border-bottom: 1px solid $lighter-grey-footer;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  margin: 0 30px;
}
