.page-main__wrapper {
  position: relative;

  padding-top: 73px;
  margin-bottom: 31px;

  background-color: $darker-white;
  background-image: url("../img/hero-mobile.jpg");
  background-position: center -17px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 155px;
    margin-bottom: 55px;

    background-image: url("../img/hero-tablet.jpg");
    background-position: center 0;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 768px auto;
    }

    &::after {
      content: "";

      position: absolute;
      bottom: -14px;

      width: 100%;
      height: 24px;

      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      background-position: bottom;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;

    &::after {
      content: "";

      position: absolute;
      bottom: -20px;

      width: 100%;
      height: 35px;

      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-position: bottom;
    }
  }
}


.page-main__title {
  margin-bottom: 120px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 371px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 357px;

    font-size: 53px;
    line-height: 57px;
  }
}

.page-main__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;

    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

.page-main__item {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.page-main__link,
.page-main__second-link {
  display: block;
  padding: 24px 30px 31px 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 26px 30px 31px 36px;

    height: 100%;

    font-size: 20px;
    line-height: 30px;
  }
}

.page-main__link {
  position: relative;
  background-color: $green;

  &:hover,
  &:active {
    background-color: $green-hover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icons/interior.svg");

    opacity: 0.5;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &:hover {
      transform: translateY(-5px);
      height: calc(100% + 5px);
    }
  }
}

.page-main__second-link {
  position: relative;
  background-color: $darker-green;

  &:hover,
  &:active {
    background-color: $darker-green-hover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 27px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icons/toy.svg");

    opacity: 0.5;

    @media (min-width: $tablet-width) {
      right: 34px;
    }
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &:hover {
      transform: translateY(-5px);
      height: calc(100% + 5px);
    }
  }
}

.page-main__product {
  margin-bottom: 31px;
  padding-bottom: 42px;

  background-image: url("../img/zigzag-line-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    padding-bottom: 69px;
    margin-bottom: 56px;

    background-image: url("../img/zigzag-line-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    margin-bottom: 67px;

    background: none;
  }
}

.page-main__about-us {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    margin-bottom: 33px;
  }
}

.page-main__reviews {
  margin-bottom: 38px;
  padding-bottom: 51px;

  background-image: url("../img/zigzag-line-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;

  @media (min-width: $tablet-width) {
    padding-bottom: 103px;
    margin-bottom: 46px;

    background-image: url("../img/zigzag-line-tablet.svg"), url("../img/review-back.jpg");
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, left top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/zigzag-line-tablet.svg"), url("../img/review-back@2x.jpg");
      background-repeat: repeat-x, no-repeat;
      background-position: bottom, left top;
      background-size: auto, 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto 71px;
    padding: 0;

    background: none;
  }
}

.page-main__reviews-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 156px;
    margin: 0 50px;

    background-image: url("../img/zigzag-line-desktop.svg"), url("../img/review-back.jpg");
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, left top;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/zigzag-line-desktop.svg"), url("../img/review-back@2x.jpg");
      background-repeat: repeat-x, no-repeat;
      background-position: bottom, left top;
      background-size: auto, 350px auto;
    }
  }
}

.page-main__contacts {
  @media (min-width: $tablet-width) {
    padding-top: 23px;

    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: 93% top;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content auto auto;

    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;

    background-position: 113px 62px;
  }
}
