.site-list {
  list-style: none;

  background-color: $white;
}

.site-list__item {
  padding: 29px 30px 25px;

  border-bottom: 1px solid $lighter-grey;
}

.site-list__item:not(:last-child) {
  @media (min-width: $desktop-width) {
    border-right: 1px solid $lighter-grey;
  }
}

.site-list__link {
  display: block;

  margin-left: 46px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
