/* Colors */

$white: #ffffff;
$darker-white: #f9f9f9;
$black: #000000;
$lighter-black: #444444;
$lighter-black-input: #b3b3b3;
$green: #63d1bb;
$green-hover: #59d5bc;
$darker-green: #56c3b2;
$darker-green-hover: #46c1ae;
$darker-green-link: #62d1ba;
$grey: #f1f1f1;
$lighter-grey: #ececec;
$lighter-grey-footer: #e5e5e5;

/* Size */
$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
