.catalog-main__title-wrapper {
  padding: 73px 30px 74px;
  margin-bottom: 30px;

  background-color: $grey;

  @media (min-width: $tablet-width) {
    padding: 100px 50px 87px;
    margin-bottom: 67px;

    background-image: url("../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 115px;
    margin-bottom: 100px;

    background-image: url("../img/zigzag-fill-desktop-form.svg");
    border-top: 1px solid rgba($black, 0.1);
  }
}

.catalog-main__title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;

    font-size: 53px;
    line-height: 57px;
  }
}

.catalog-main__catalog {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }
}

.catalog-main__process {
  display: flex;
  flex-direction: column;
  margin: 0 30px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    margin: 0 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
