.catalog-main__title-wrapper {
  padding: 74px 0;
  margin-bottom: 30px;

  background-color: $grey;
}

.catalog-main__title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  text-align: center;
}

.catalog-main__catalog {
  margin-bottom: 30px;
}

.catalog-main__process {
  display: flex;
  flex-direction: column;

  border: 1px solid $lighter-grey;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
