.catalog__list {
  margin: 0 30px;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
  }
}

.catalog__item {
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}
