.about-us__title {
  margin: 0 0 28px;
  padding: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

.about-us__list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $black;
}

.about-us__item {
  margin-bottom: 30px;
}
