.best_product__title-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 30px 16px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 50px 37px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.best-product__title {
  order: 1;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 5px 13px 0 0;
    width: 100px;

    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.best-product__subtitle {
  margin: 0 0 5px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }
}

.best-product__desc {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    column-gap: 42px;
  }
}

.best-product__desc-wrapper {
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin: 0 0 0 50px;
  }
}

.best-product__text {
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin: 0 0 47px;
  }
}

.best-product__list {
  margin: 0 0 28px;

  line-height: 20px;
}

.best-product__item {
  display: flex;

  margin: 0 0 7px;
  padding-bottom: 12px;

  border-bottom: 1px solid $lighter-grey;
}

.best-product__property {
  width: 38%;

  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.best-product__value {
  flex-grow: 1;
  margin: 0;
}

.best-product__img-wrapper {
  margin: 0 30px 27px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    margin: 0 50px 0 0;
    padding-top: 12px;
  }
}

.best-product__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.best-product__price-wrapper {
  margin: 0 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    margin: 0 0 0 50px;
    padding-top: 30px;
  }
}

.best-product__price {
  margin: 0 0 23px;

  font-weight: 700;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;

    margin: 0 0 32px;

  }
}

.best-product__button {
  width: 100%;
  padding: 14px;
}
