.contacts__title {
  margin: 0 30px 28px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0 50px 49px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
  }
}

.contacts__list {
  margin: 0 30px 62px;

  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 50px 48px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 2;
    grid-row: 2/ 3;
  }
}

.contacts__item {
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__property {
  width: 30%;

  @media (min-width: $tablet-width) {
    width: 23%;
  }
}

.contacts__value {
  margin: 0;
}

.contacts__mail-link {
  position: relative;

  font-size: inherit;
  line-height: inherit;
  color: $lighter-black;
  text-decoration: none;

  &:hover,
  &:active {
    color: $darker-green-hover;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;

    height: 1px;

    background-color: $darker-green-link;
  }

  &:hover::after {
    background-color: $darker-green-hover;
  }

  &:active::after {
    background-color: $darker-green-hover;
    opacity: 0.3;
  }
}

.contacts__address {
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
}

.contacts__map {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 41px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1/ -1;
  }
}

.contacts__button {
  display: block;
  margin: 0 30px;
  padding: 14px;
  text-align: center;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 30%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
