.contacts__title {
  margin: 0 0 28px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
  }
}

.contacts__list {
  margin: 0 0 62px;

  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 2;
    grid-row: 2/ 3;
  }
}

/* Нижнюю черту сделаю через псевдоэлемент в дальнейшем */
.contacts__mail-link {
  font-size: 17px;
  line-height: 30px;
  color: $lighter-black;
  text-decoration: none;

  &:hover,
  &:active {
    color: $darker-green-hover;
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__button {
  display: block;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.contacts__map {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1/ -1;
  }
}
