.page-main__wrapper {
  padding-top: 1px; /* Что-бы margin заголовка не выпадал */
  margin-bottom: 31px;

  background-color: $darker-white;
  background-image: url("../img/hero-mobile.jpg");
  background-position: center -45px;
  background-repeat: no-repeat;
}

.page-main__title {
  margin: 90px 0 120px;
  padding: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $black;
}

.page-main__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-main__link,
.page-main__second-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 31px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  text-decoration: none;
}

.page-main__link {
  background-color: $green;

  &:hover,
  &:active {
    background-color: $green-hover;
  }
}

.page-main__second-link {
  background-color: $darker-green;

  &:hover,
  &:active {
    background-color: $darker-green-hover;
  }
}

.page-main__product {
  margin-bottom: 31px;
}

.page-main__about-us {
  margin-bottom: 58px;
}

.page-main__reviews {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
}

.page-main__contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
