.reviews__title {
  margin: 0 0 14px;
  padding: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.reviews__item {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.reviews__desc {
  margin: 0 0 30px;
}

.reviews__text {
  margin: 0 0 33px;

  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}

.reviews__author-twitter {
  font-size: 17px;
  line-height: 30px;
}

.reviews__arrow-wrapper {
  /* Будут спозиционированы относительно reviews__item, так и не смог придумать как их вставить в сетку, не нарушая логику HTML */
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.reviews__button {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}
